In [1]:
print('new world')

new world

In [2]:
2+1

3

In [3]:
print(3+1)

4

This space is for notes

In [4]:
a =10

In [8]:
a = a+a

In [9]:
a

160

In [10]:
a=10
a

10

In [13]:
a = a+a
a

80

In [14]:
type(a)

int

In [15]:
a = ["hello","world"]
type(a)

list

In [16]:
'this is also a string'

'this is also a string'

In [17]:
"I'm going on run"

"I'm going on run"

In [18]:
'I\'m going on run'

"I'm going on run"

In [19]:
myString = 'Hello'

In [20]:
myString[0]

'H'

In [31]:
myString = "Hello World"

In [32]:
myString[0]

'H'

In [33]:
myString[0:5:2]

'Hlo'

In [34]:
myString[-1]

'd'

In [35]:
len(myString)

11

In [38]:
myString[:len(myString)]

'Hello World'

In [39]:
myString

'Hello World'

In [43]:
myString.upper()

'HELLO WORLD'

In [44]:
myString.casefold()

'hello world'

In [45]:
myString.split()

['Hello', 'World']

In [46]:
myString2 = 'Hi this is a, string'

In [47]:
myString2.split(',')

['Hi this is a', ' string']

In [48]:
myString

'Hello World'

In [49]:
print('Welcome to {}'.format(myString))

Welcome to Hello World

In [50]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [51]:
 print('The {q} {b} {f}'.format(f='fox', b = 'brown', q = 'quick'))

The quick brown fox

In [56]:
result = 100/7
print("The result is {r:4.9f}".format(r=result))

The result is 14.285714286

In [57]:
name = "Rashmi"
print(f'Hello her name is {name}')

Hello her name is Rashmi

In [58]:
age = 26
print(f'{name} is {age} years old')

Rashmi is 26 years old

In [59]:
mylist = ['one','two','three']
newlist = ['four','five']

In [60]:
another_list = mylist + newlist

In [61]:
another_list

['one', 'two', 'three', 'four', 'five']

In [66]:
another_list.append('six')

In [67]:
another_list

['one', 'two', 'three', 'four', 'five', 'six']

In [68]:
another_list.pop(3)

'four'

In [69]:
another_list

['one', 'two', 'three', 'five', 'six']

In [1]:
myDict = {'key1':'value1', 'key2':'valye2','key3':'value3'}

In [2]:
myDict

{'key1': 'value1', 'key2': 'valye2', 'key3': 'value3'}

In [3]:
myDict['key3']

'value3'

In [4]:
itemPrice = {'apples':2.99, 'oranges':1.66, 'milk':5.90, 'chocolate':3.59}

In [5]:
itemPrice['apples']

2.99

In [6]:
itemPrice.get('oranges')

1.66

In [10]:
newDict = {'rashmi':{'eng':1,'math':2,'science':3}, 'sam':{'grade1':'a','grade2':'b','grade3':'c'}, 'aishu':[4,6,8,9,'aishu']}

In [11]:
newDict.get('rashmi')

{'eng': 1, 'math': 2, 'science': 3}

In [12]:
newDict.get('sam').get('grade1')

'a'

In [13]:
newDict['aishu']

[4, 6, 8, 9, 'aishu']

In [14]:
newDict['aishu'][4].upper()

'AISHU'

In [15]:
newerDict = {'bhuvana':['fg','str','foo']}

In [18]:
newerDict

{'bhuvana': ['fg', 'str', 'foo']}

In [19]:
newDict

{'rashmi': {'eng': 1, 'math': 2, 'science': 3},
 'sam': {'grade1': 'a', 'grade2': 'b', 'grade3': 'c'},
 'aishu': [4, 6, 8, 9, 'aishu']}

In [20]:
newDict['DP'] = {'netherlands':'live','altran':'work'}

In [21]:
newDict

{'rashmi': {'eng': 1, 'math': 2, 'science': 3},
 'sam': {'grade1': 'a', 'grade2': 'b', 'grade3': 'c'},
 'aishu': [4, 6, 8, 9, 'aishu'],
 'DP': {'netherlands': 'live', 'altran': 'work'}}

In [22]:
newDict['Bingi'] = newerDict

In [23]:
newDict

{'rashmi': {'eng': 1, 'math': 2, 'science': 3},
 'sam': {'grade1': 'a', 'grade2': 'b', 'grade3': 'c'},
 'aishu': [4, 6, 8, 9, 'aishu'],
 'DP': {'netherlands': 'live', 'altran': 'work'},
 'Bingi': {'bhuvana': ['fg', 'str', 'foo']}}

In [24]:
newDict.keys()

dict_keys(['rashmi', 'sam', 'aishu', 'DP', 'Bingi'])

In [25]:
newDict.values()

dict_values([{'eng': 1, 'math': 2, 'science': 3}, {'grade1': 'a', 'grade2': 'b', 'grade3': 'c'}, [4, 6, 8, 9, 'aishu'], {'netherlands': 'live', 'altran': 'work'}, {'bhuvana': ['fg', 'str', 'foo']}])

In [26]:
 tuple1 = (1,2,4,5,6,7,8,9,3,4,5,6,2,3,1)
tuple1[4]

6

In [29]:
tuple1.count(3)

2

In [30]:
tuple1.index(3)

8

In [31]:
set1 = set()
set1.add(1)
set1.add(2)
set1.add(3)

In [32]:
set1

{1, 2, 3}

In [33]:
set1.add(2)

In [34]:
set1

{1, 2, 3}

In [35]:
myList = (1,2,3,4,1,2,3,4,1,2,3,4,1,2,3,4)

In [36]:
set(myList) #no order for the elements

{1, 2, 3, 4}

In [37]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [39]:
boolean = [True, False]

In [40]:
boolean

[True, False]

In [42]:
set([1,1,2,3])

{1, 2, 3}

In [3]:
not 1 == 1 or 1<2

True

In [4]:
12!=12

False

In [5]:
2 < 3 > 10

False

In [6]:
2<=3>=1

True